<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bako - Productos</title>
  <link rel="stylesheet" href="/Store/css/styles.css" />
</head>
<body>

  <!-- Header -->
  <div id="header-container"></div>

  <!-- Contenido -->
  <main class="categoria-container">
    <h1>Productos disponibles</h1>
    <div id="productos-lista" class="productos-grid"></div>
  </main>

  <!-- Footer -->
  <div id="footer-container"></div>

  <!-- WhatsApp -->
  <div id="whatsapp-container"></div>

  <script src="/Store/js/products.js"></script>
  <script src="/Store/js/main.js"></script>
</body>
</html>
